<div class="row">
  <div class="col-9">
    <div class="container">
      <div class="row">
        <div class="col-3" style="padding: 5px"> Patient ID </div>
        <div class="col-2" style="padding: 2px">
          <input [type]=inputType class="form-control" placeholder="ID">
        </div>
      </div>
      
      <div class="row">
        <div class="col-3" style="padding: 5px"> First Name </div>
        <div class="col-4" style="padding: 2px">
          <input [type]=inputType class="form-control" placeholder="First Name">
        </div>
      </div>
      
      <div class="row">
        <div class="col-3" style="padding: 5px"> Last Name </div>
        <div class="col-4" style="padding: 2px">
          <input [type]=inputType class="form-control" placeholder="Last Name">
        </div>
      </div>
      
      <div class="row">
        <div class="col-3" style="padding: 5px"> Date of Birth </div>
        <div class="col-4" style="padding: 2px">
          
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                    </button>
                  </div>
                </div>
              </div>
            </form>
            
            <!-- <input type="date" class="form-control"> -->
          <!-- <input [type]=inputType class="form-control" placeholder="Birthdate"> -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="border:1px; border-style:solid; max-width: 150px; max-height: 150px;">
    <label>PICTURE</label>
  </div>
</div>

<hr>

<button type="button" class="btn btn-default">Cancel</button>
<!-- <button type="button" class="btn btn-danger">Save</button> -->
<button type="button" class="btn btn-primary">Save</button>