<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Patient Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Medical Records</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Consultations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

<app-patient-details [patient]="patient" (emitSubmit)="callOutputEmitter()"></app-patient-details>