/* .btn-search {
    background: #666666;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
}

.btn-search:link, .btn-search:visited {
    color: #fff;
}

.btn-search:active, .btn-search:hover {
    background: #333333;
    color: #fff;
} */